.navbar > :first-child {
    flex-basis: 35%;
}

nav {
    background: black;
    height: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Technopollas', sans-serif;
}

nav > :nth-child(2){
    margin-right: auto;
}


.ul-head {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.logo img {
    width: 150px;
    height: 100px;
    padding-top: 5px;
    padding-left: 20px;
    justify-content: right;
}
.Link-head {
    color: white;
    justify-content: right;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.Link-head:hover {
    color: #BD8635;
}
.li-head {
    margin:20px;
    color: white;
}

.li-head:hover {
    color: #BD8635;
}

.navLogo img {
    width: 300px;
    height: 70px;
    margin-top: 10px;
}
