nav {
    background: black;
    height: auto;
}
.logo img {
    width: 150px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
}
.ul-head {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.Link-head {
    float: right;
    color: white;
    display: block;
    font-size: 16px;
    text-align: center;
}

.Link-head:hover {
    color: darkcyan;
}
.li-head {
    margin:20px;
    color: white;
}

